# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

protoc
ProtoToStructGithub.sln
ProtoToStructGithub.opensdf
*.sdf
ProtoToStructGithub.vcxproj
*.filters
remote_cmake.sh
remote_compile.bat
